<div id="about" class="row">
  <h2 class="section-header">A Bit about me</h2>
  <img id="personal-photo" src="images/pro-pic-linkedin.png">

  <h4 class="about-content">
    I started working at a financial advisory firm in Chicago right after graduation, in the summer of 2015.
  </h4>

  <h4 class="about-content">
    Not long after, I began to build a Wordpress site to share and discuss interesting articles, books and podcasts with my virtual book club. I became absolutely enthralled with customizing the design, implementing knew functionality and simply building something from nothing.
  </h4>

  <h4 class="about-content">
    Fast forward to today - I've built a portfolio of fun and challenging projects, learning as much as I could along the way. I also became a CERTIFIED FINANCIAL PLANNER&#8482;.
  </h4>

  <h4 class="about-content">
    Now, I'm determined to start programming beyond my mornings, nights and weekends.
  </h4>
</div>