<div id="blog" class="row">
  <h2 class="section-header">Blog</h2>

  <img class="blog-logo" src="images/functionalFinanceLogoWide.png">

  <h3 class="blog-desc">I write about personal finance and programming, with a twist of humor. <a href="https://medium.com/functional-finance" target="_blank">You can read my posts here.</a></h3>



</div>