 <footer>
    <p><a id="icons8" target="blank" href="https://icons8.com/web-app">icons from icons8</a></p>
</footer>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>