<div id="landing" class="row" >
  <div id="landing-banner">
    <h1 id="landing-title">Hi, I'm Ryan.</h1>
    <h2 id="landing-subtitle">I'm a self-taught web developer, eager to turn my spare time passion into a full-time career. <br/></h2>
  </div>

  <div class="arrow-cont">
    <i id="arrow"></i>
  </div>
</div> <!-- landing -->