<div id="portfolio" class="row">
  <h2 class="section-header">Portfolio</h2>
  <% include ../partials/projectMediaBiasMap.ejs %>
  <% include ../partials/projectFJF.ejs %>
  <% include ../partials/projectStellar.ejs %>
  <% include ../partials/projectMBMExtension.ejs %>
  <% include ../partials/projectRainyDayFund.ejs %>
  <% include ../partials/projectDailyGray.ejs %>
  <% include ../partials/projectBlisst.ejs %>
</div>
