<div id="resume" class="row">
  <h2 class="section-header">Resume</h2>

  <a href="ryanjyost_resume.pdf" download>
    <p>Click to download</p>
  </a>

  <a href="ryanjyost_resume.pdf" download>
    <img id="resume-preview" src="images/resume-preview.png">
  </a>
</div>