<nav id="sidebar" class="navbar navbar-default">
  <div class="navbar-header">
    <!-- navbar collapse (hamburger) button -->
    <button id="dropdown-btn" type="button" class="navbar-toggle up" data-toggle="collapse" data-target="#accordion" aria-expanded="false">
      <img id="dropdown-icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAs0lEQVRoQ+2WsQ2AUAgF/2/dwSXcfwaXcAdbjaWxoICL4eVZ44vcEWSO5s9s/v3DDfxt0AZsIEnAI5QEmH5dz8B+nFcaCxiwrcsL+seAGwDpP9H6BmCA5fF6W6gcERxoAzDgMN4GQkRwgZ4BnxLwyOifEu1HCJ6A8ni9LVSOCA60ARhwGG8DISK4QM9A+x+ZG4BnXv+YgwGWx+ttoXJEcKANwIDDeBsIEcEFNgADDuPbG7gBS5QwMU+GSxcAAAAASUVORK5CYII=" >
    </button>
    <!-- end hamburger btn -->
    <a class="navbar-brand" href="#"></a>
  </div><!-- end navbar header -->

  <div class="panel-group collapse navbar-collapse" id="accordion">
    <div id="panel-1" class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
            <a href="#about">About Me</a>
        </h4>
      </div>
    </div>

    <div id="panel-2" class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
            <a href="#portfolio">Portfolio</a>
        </h4>
      </div>
    </div>
    <div id="panel-3" class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
            <a href="#skills">Skills</a>
        </h4>
      </div>
    </div>
    <div id="panel-4" class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
            <a href="#resume">Resume</a>
        </h4>
      </div>
    </div>
    <div id="panel-5" class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
            <a href="#contact">Contact</a>
        </h4>
      </div>
    </div>
    <% include ../partials/footer.ejs %>
  </div><!-- #accordion -->

</nav> <!-- #sidebar -->