/*=================================
GENERAL
================================= */

body{
	font-weight: 200;
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
}

  @media(min-width:992px){
    body{
      overflow-y: hidden;
    }
  }


/* Headers */
h1{
	font-size: 6em;
	font-weight: 900 !important;
	position: relative;
	color: #585858;
	margin: 0px 0px 0px 0px;
	text-align: left;
}

h2{
	font-size: 3em;
	line-height: 1.3em;
	color: #333333;
	font-weight: 400 !important;
	margin-top: 10px;
	position: relative;
	text-align: left;
	margin: auto;
}



h5{
  font-size: 0.8em;
  display: inline-block;
  color: #585858;
  margin: 0px;
}

	h4 a{
		font-size: 2em;
	}

@media(max-width:768px){
		h1{
			font-size: 4em !important;
		}

		h2{
			font-size:2em !important;
		}
	}

/* Misc Selectors, Bootstrap elements */

button{
	border: 0px solid #fff !important;
}

.row {
/*  -moz-column-width: 25em;
 -webkit-column-width: 25em;
 -moz-column-gap: 0em;
 -webkit-column-gap: 0em; */

}

.container{
	padding: 0vh 0% 0vh 0%;
	width: 100% !important;
	max-width: 1200px;

}


/*===================
Sidebar
====================*/

#sidebar{
	background-color: #ffffff;
	overflow: scroll;
	padding: 15px 0px 15px 3%;
	border-bottom: 1px solid #f2f2f2;
	opacity: .95;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}


nav{
	box-shadow: none !important;
	opacity: 1;
	display: block;
	background-image: linear-gradient(to bottom,#fff 0,#fff 100%) !important;
	border: none !important;
	padding: 50px 0px 50px 0px;
}



	.navbar-header{
		min-width: 200px;
		padding-right: 5%;

	}
		#dropdown-icon{
			width: 100%;
			opacity: .5;
		}

		.down{
			  transform: rotate(180deg);
			  -ms-transform: rotate(180deg); /* IE 9 */
			  -moz-transform: rotate(180deg); /* Firefox */
			  -webkit-transform: rotate(180deg); /* Safari and Chrome */
			  -o-transform: rotate(180deg); /* Opera */
			  transition:transform .2s ease-in-out;
			  -moz-transition: transform .2s ease-in-out; /* Firefox */
			  -webkit-transition: transform .2s ease-in-out; /* Safari and Chrome */
		}

     .up{
        transform: rotate(0deg);
        -ms-transform: rotate(0deg); /* IE 9 */
        -moz-transform: rotate(0deg); /* Firefox */
        -webkit-transform: rotate(0deg); /* Safari and Chrome */
        -o-transform: rotate(0deg); /* Opera */
        transition:transform .2s ease-in-out;
        -moz-transition: transform .2s ease-in-out; /* Firefox */
        -webkit-transition: transform .2s ease-in-out; /* Safari and Chrome */
    }


.icon-bar{
	background-color: #555555;
}

#accordion{
	width: 80%;
	border: 0px solid #fff !important;
	box-shadow: none !important;
	height: 100vh;
	overflow: scroll !important;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{
	max-height: 1000px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: transparent;
}


.panel-group{
	box-shadow: none !important;

}
.panel-group .panel+.panel{
	margin-top: 0px !important;
	border: 0px solid #fff !important;
	box-shadow: none !important;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{
	border: 0px solid #fff !important;
}

	.panel{
		border: 0px solid #fff !important;
	}

	#panel-1{display:none;}
	#panel-2{display:none;}
	#panel-3{display:none;}
	#panel-4{display:none;}
	#panel-5{display:none;}

		/* panel id's for fade in on page load */

	.panel-heading{
		background-image: linear-gradient(to bottom,#fff 0,#fff 100%) !important;
		border: 0px solid #fff !important;
	}

		.panel-title a:hover{
			text-decoration: none !important;
			padding-left: .1em;
			cursor: default;
		}

		.panel-title a:focus{
			text-decoration: none !important;
		}

	td{
		border: 0px solid #fff !important;
	}

		td a{
			text-decoration: none !important;
			font-size: 1.2em;
		}

		td a:hover{
			padding-left: .1em;
			cursor: default;
		}

		.glyphicon{
			padding: 0px .25em 0px 0px;
		}


@media(min-width:992px){
	#sidebar{
		width: 25% ;
		height: 100vh !important;
		overflow: scroll !important;
    z-index: 1030;
    position: relative;
    display: inline-block;
	}

	#content{
		width: 75% !important;
	}

	video{
     margin: auto;
     width: 80% !important;
     max-width: 700px;
  }
}

@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        height: 100vh !important;
    }
    .navbar-collapse.collapse {
        display: none!important;

    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }

    .navbar-collapse.collapse.in {
    	display: block!important;
    }
}

.menu-icon{
	width: 30px;
	margin-right: 10px;
}

/*===================
Footer
====================*/
footer{
	padding-left: 20px ;
	background-color: transparent;
	position: relative;
	bottom: 0;
	width: 100%;
	margin-top: 10px;
}

	footer p{
		font-size: 10px;
	}

	#icons8{
		color: #848484;
		font-style: italic;
		display: none;
	}



/*===================
Landing
====================*/

#landing{
	display: block;
	padding: 20vh 5% 10vh 5%;
  width: 96%;
  margin: auto;
  height: 100vh;
}

  @media(min-width:768px){
    width:100% !important;
    padding: 12vh 5% 10vh 5%;
  }

	#landing h1{
		padding: 10px 0px 10px 0px;
	}

		#landing-title{
			display: none;
		}

	#landing h2{
		padding: 10px 0px 10px 0px;
		display: none;
	}
		#landing-subtitle{

		}

  /*===================
  Contact Info */
  #contact-info{
    height: 10vh;
    display: none;
    margin: 5vh 0px 2vh 0px;
  }

    .contact-icon-cont{
      display: inline-block;
      padding: 2vh 2%;
      border: 1px solid #fff;
      margin: 0px 0px;
      float: right;
      max-width: 20%;
    }

      .contact-icon-cont:hover{
        padding-top: 1.5vh !important;
      }


    .contact h5{
      margin-top: 10px;
      display: none;
    }

      .landing-icon{
        width: 90%;
      }

        .landing-icon:hover{
          cursor: pointer;
        }

      #twitter-icon{
          padding-top: 0vh;
          opacity: .6;
        }

        #phone-icon{
          padding-top: 1vh;
          width: 70%;
        }

        #email-icon{
          padding-top: 0.4vh;
        }

      @media(min-width:992px){
        .icon{
          width: 80%;
          display: block;
          margin: auto;
        }


      }





    #resume:hover{

    }



#personal-photo{
	border-radius: 5px !important;
	width: 150px;
	border: 1px solid #f2f2f2;
	position: relative;
	top: 0;
	margin: auto;
	display: block;
	margin-top: 30px;
	float: right;
}


/*===================
Landing contact info
*/

#landing-contact-info{
	margin-bottom: 10px;
	margin-top: 12vh;
	padding-bottom: 50px;
	display: none;
  width: 100%;
}

  @media(min-width:992px){
    #contact-icon-text{
      margin-top: 10vh !important;
    }
  }

#landing-contact-info h4{
	font-weight: 800 !important;
	color: #585858;
	text-align: right;
	width: 100%;
	display: inline-block;
	float: right;
	padding-bottom: 5px;
}


/*===================
Main Content */


#content{
  overflow: scroll !important;
  height: 100vh;
  padding: 2% 5% 5% 5%;
  float: right;
  width: 100%;
  margin: auto;
  display: block;
}


video{
  width: 80%;
  max-width: 700px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  border-radius: 5px;
  border: 4px solid #f2f2f2;
}


/*===================
Projects
====================*/

.project{
  padding: 10px 0px;
  margin-bottom: 15vh;
  padding: 3vh 0px 3vh 0px;
}

  .project-title{
    font-size: 2.5em;
    width: 75%;
    display: block;
    margin: auto;
    margin-top: 3vh;
    font-weight: 900;
    padding: 0px 0px 8px 0px;
  }

    .project-title a{
      color: #333333;
    }

  .project-desc, .project-desc-more{
    width: 75%;
    margin: auto;
    font-weight: 400;
    line-height: 1.5em;
    text-align: justify;
    padding: 10px 0px;
  }

    .project-desc{
      display: block;
    }

    .project-desc-expand{
      padding: 0px 5px;
      margin-left: 5px;
      border-left: 1px solid #d8d8d8;
      cursor: pointer;
      color: #a4a4a4;
    }

      .project-desc-expand:hover{
        text-decoration: underline;
      }

    .project-desc-more{
      display: none;
    }







    @media(min-width: 768px){
      text-align:justify;
    }

  .project-icon{
    float: right;
    width: 25px;
    margin-top: 1.9vh;
    margin-left: 4%;
    opacity: .6;
  }

    .project-icon:hover{
      opacity: .9;
    }

  .project-info{
    border-top: 1px solid #f2f2f2;
    width: 75%;
    margin: auto;
    padding: 8px 3px;
    font-size: 1em;
    opacity: .5;
    font-weight: 900;
    text-align: right;
  }


/*===================
Blisst
====================*/
#blisst{
  border-left: 4px solid #C6ECF7;
}

  #blisst-title{

  }

/*===================
Daily Gray
====================*/
#daily-gray{
   border-left: 4px solid #a4a4a4;
}

/*===================
Rainy Day Fund
====================*/
#rainy-day-fund{
  border-left: 4px solid #a9f5bc;
}


/*===================
Media Bias Map
====================*/

#media-bias-map{
  border-left: 4px solid rgb(245, 169, 188);
}


















































