
/*====================
Main selectors
=====================*/

body{
	font-family: 'Josefin Slab', serif;
	background-color: #f9f9f9;
	overflow-x:  hidden;
}

h1{
	font-family: 'Raleway', sans-serif;
}


#main{
	padding: 0vh 0px 0px 0px;
	background-color: #f9f9f9;
}


/*====================
My Text (Bootstrap nav)
=====================*/

#top-nav{
	opacity: .9 !important;
}

#my-text{
		height: 12vh;
		background-color: #ffffff;
		opacity: .9 !important;
		width: 100%;
		border: 1px solid #D8D8D8;
		padding: 0px 0% 0px 0%;
		margin-top: 0vh;
		text-align: center;
	}

	#my-text h1{
		font-size: 2em;
		margin: 0px 0px 0px 0px;
		width: 100%;
		 line-height: 12vh;
	    display: inline-block;
	    vertical-align: middle;
	}

	#personal-photo{
		border-radius: 80px;
		border: 2px solid #6E6E6E;
		width: 72%;

	}


/* narrtion text id's for jquery */


/* landing page sections */
#intro{
	height: 80vh;
	padding-top: 1vh;

}




/*====================
Menu / Tic Tac Toe Board
=====================*/
#menu{
	height: 80vh;
	background-color: #f9f9f9;
	display: block;
    margin: auto;
    width: 100%;
    float: right;
    padding-top: 14vh;
}

	.menu-row{
		display: block;
		width: 85%;
		margin: auto;
		border-bottom: 0px solid #ffffff ;
	}

		#menu-bottom-row{
			border-bottom: none !important;
		}

	.menu-item{
		vertical-align: top;
		text-align: center;
        display: inline-block;
        width: 32.2%;
        height: 20vh;
        margin: 0vh 0px 0vh 0px;
        border-color: #ffffff !important;
        border: none !important;
        opacity: 0;
	}

	.menu-label{
		color: #BDBDBD;
		font-weight: 200;
		opacity: 0;
	}

	.menu-icon{
		width: 65%;
		margin: auto;
		opacity: 0.75;
		margin-bottom: 2vh;
		margin-top: 2vh;
	}

		#menu-top-left{
			border-right: 1px solid ;
		}
		#menu-top-center{
		}
		#menu-top-right{
			border-left: 1px solid ;
		}
		#menu-mid-left{

			border-right: 1px solid ;
		}
		#menu-mid-center{


		}
		#menu-mid-right{

			border-left: 1px solid ;
		}
		#menu-btm-left{
			background-color: ;
			border-right: 1px solid ;
		}
		#menu-btm-center{

		}
		#menu-btm-right{

			border-left: 1px solid ;
		}



		#about-me{
			height: 40vh;
		}

		#intro-bottom{
			height: 20vh;
			background-color: #585858;
		}



/*====================
Bottom of landing/home
=====================*/

/* Bottom buttons */
#home-btn-cont{
	height: 20vh;
	display: block;
	border-bottom: 1px solid #a4a4a4;
	padding-top: 3vh;
}

	#more-arrow{
		width: 10%;
		max-width: 50px;
		margin: auto;
		display: block;
		margin-bottom: 5vh;
		opacity: 0.4;
	}

/*====================
About Me
=====================*/



/*====================
Projects
=====================*/

.project{
	margin: 0vh 0px 1vh 0px;
	min-height: 50vh;
	height: 50vh;
	border: 1px solid #f2f2f2;


}

  .project-img{
    border: 1px solid #000000 !important;
    height: 100%;
    padding: 0px 1% 0px 1%;
  }

  .project-text{
  	border: 1px solid #000000 !important;
    height: 100%;
    padding: 0px 1% 0px 1%;

  }

/*====================
Misc.
=====================*/

#icons8{
	text-align: center;
	font-size: 0.5em;
	display: block;
	margin-top: 1%;
	color: #A4A4A4;

}

