/*=================================
GENERAL
================================= */

body{
	font-weight: 200;
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
}


/* Headers */
h1{
	font-size: 6em;
	font-weight: 800 !important;
	position: relative;
	color: #585858;
	margin: 0px 0px 0px 0px;
	text-align: left;
}

h2{
	font-size: 3em;
	line-height: 1.3em;
	color: #333333;
	font-weight: 400 !important;
	margin-top: 10px;
	position: relative;
	text-align: left;
	margin: auto;
}



h5{
  font-size: 0.8em;
  display: inline-block;
  color: #585858;
  margin: 0px;
}

	h4 a{
		font-size: 2em;
	}

@media(max-width:768px){
		h1{
			font-size: 4em !important;
		}

		h2{
			font-size:2em !important;
		}
	}

/* Misc Selectors, Bootstrap elements */

button{
	border: 0px solid #fff !important;
}

.row {
/*  -moz-column-width: 25em;
 -webkit-column-width: 25em;
 -moz-column-gap: 0em;
 -webkit-column-gap: 0em; */
 height: 100vh;

}

.container{
	padding: 0vh 0% 0vh 0%;
	width: 100% !important;
	max-width: 1200px;

}


/*===================
Sidebar
====================*/

#sidebar{
	background-color: #ffffff;
	overflow: scroll;
	padding: 15px 0px 15px 3%;
	border-bottom: 1px solid #f2f2f2;
	opacity: .95;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}


nav{
	box-shadow: none !important;
	opacity: 1;
	display: block;
	background-image: linear-gradient(to bottom,#fff 0,#fff 100%) !important;
	border: none !important;
	padding: 50px 0px 50px 0px;
}



	.navbar-header{
		min-width: 200px;
		padding-right: 5%;

	}
		#dropdown-icon{
			width: 100%;
			opacity: .5;
		}

		.down{
			  transform: rotate(180deg);
			  -ms-transform: rotate(180deg); /* IE 9 */
			  -moz-transform: rotate(180deg); /* Firefox */
			  -webkit-transform: rotate(180deg); /* Safari and Chrome */
			  -o-transform: rotate(180deg); /* Opera */
			  transition:transform .3s ease-in-out;
			  -moz-transition: transform .3s ease-in-out; /* Firefox */
			  -webkit-transition: transform .3s ease-in-out; /* Safari and Chrome */
		}

     .up{
        transform: rotate(0deg);
        -ms-transform: rotate(0deg); /* IE 9 */
        -moz-transform: rotate(0deg); /* Firefox */
        -webkit-transform: rotate(0deg); /* Safari and Chrome */
        -o-transform: rotate(0deg); /* Opera */
        transition:transform .3s ease-in-out;
        -moz-transition: transform .3s ease-in-out; /* Firefox */
        -webkit-transition: transform .3s ease-in-out; /* Safari and Chrome */
    }


.icon-bar{
	background-color: #555555;
}

#accordion{
	width: 80%;
	border: 0px solid #fff !important;
	box-shadow: none !important;
	height: 100vh;
	overflow: scroll !important;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{
	max-height: 1000px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: transparent;
}


.panel-group{
	box-shadow: none !important;

}
.panel-group .panel+.panel{
	margin-top: 0px !important;
	border: 0px solid #fff !important;
	box-shadow: none !important;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{
	border: 0px solid #fff !important;
}

	.panel{
		border: 0px solid #fff !important;
	}

	#panel-1{display:none;}
	#panel-2{display:none;}
	#panel-3{display:none;}
	#panel-4{display:none;}
	#panel-5{display:none;}

		/* panel id's for fade in on page load */

	.panel-heading{
		background-image: linear-gradient(to bottom,#fff 0,#fff 100%) !important;
		border: 0px solid #fff !important;
	}

		.panel-title a:hover{
			text-decoration: none !important;
			padding-left: .1em;
			cursor: default;
		}

		.panel-title a:focus{
			text-decoration: none !important;
		}

	td{
		border: 0px solid #fff !important;
	}

		td a{
			text-decoration: none !important;
			font-size: 1.2em;
		}

		td a:hover{
			padding-left: .1em;
			cursor: default;
		}

		.glyphicon{
			padding: 0px .25em 0px 0px;
		}


@media(min-width:992px){
	#sidebar{
		width: 25% ;
		height: 100vh !important;
		overflow: scroll !important;
    z-index: 1030;
    position: relative;
    display: inline-block;
	}

	#content{
		width: 75% !important;
	}

	video{
     margin: 0px !important;
     width: 100% !important;
  }
}

@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        height: 100vh !important;
    }
    .navbar-collapse.collapse {
        display: none!important;

    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }

    .navbar-collapse.collapse.in {
    	display: block!important;
    }
}

.menu-icon{
	width: 30px;
	margin-right: 10px;
}

/*===================
Footer
====================*/
footer{
	padding-left: 20px ;
	background-color: transparent;
	position: relative;
	bottom: 0;
	width: 100%;
	margin-top: 10px;
}

	footer p{
		font-size: 10px;
	}

	#icons8{
		color: #848484;
		font-style: italic;
		display: none;
	}



/*===================
Landing
====================*/

#landing{
	display: block;
	padding: 14vh 5% 10vh 5%;
  width: 96%;
  margin: auto;
}

  @media(min-width:768px){
    width:100% !important;
    padding: 12vh 5% 10vh 5%;
  }

	#landing h1{
		padding: 10px 0px 10px 0px;
	}

		#landing-title{
			display: none;
		}

	#landing h2{
		padding: 10px 0px 10px 0px;
		display: none;
	}
		#landing-subtitle{

		}

  /*===================
  Contact Info */
  #contact-info{
    height: 10vh;
    display: none;
    margin: 5vh 0px 2vh 0px;
  }

    .contact{
      display: inline-block;
      padding: 2% 2%;
      border: 1px solid #fff;
      margin: 0px 0px;
      float: right;
      max-width: 20%;
    }


    .contact h5{
      margin-top: 10px;
      display: none;
    }

      .icon{
        width: 90%;
      }

      #twitter-icon{
          padding-top: 0vh;
        }

        #phone-icon{
          padding-top: 1vh;
          width: 70%;
        }

        #email-icon{
          padding-top: 0.4vh;
        }

      @media(min-width:992px){
        .icon{
          width: 80%;
          display: block;
          margin: auto;
        }


      }





    #resume:hover{

    }



#personal-photo{
	border-radius: 5px !important;
	width: 150px;
	border: 1px solid #f2f2f2;
	position: relative;
	top: 0;
	margin: auto;
	display: block;
	margin-top: 30px;
	float: right;
}


/*===================
Scroll Down
*/

#scroll-below{
	margin-bottom: 10px;
	margin-top: 20vh;
	padding-bottom: 50px;
	float: right;
	display: none;
  width: 100%;
}

  @media(min-width:992px){
      margin-top: 10vh !important;
  }

#scroll-below h4{
	font-weight: 800 !important;
	color: #585858;
	text-align: right;
	width: 100%;
	-webkit-border-image: -webkit-gradient(linear, left bottom, right bottom, from(#ffffff), color-stop(0.5, #000), to(#ffffff), color-stop(1, #ffffff)) 21 30 30 21;
	display: inline-block;
	float: right;
	padding-bottom: 5px;
}

.arrow-cont{
	float: right;
	display: block;
}


.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #EEF6FF;
  margin-bottom: -1px;
  border-radius: 7px;
  opacity: 0;
  display: block;
}



/*===================
Projects
====================*/



/*===================
Main Content */


#content{
  overflow: scroll !important;
  height: 100vh;
  padding: 2% 5% 5% 5%;
  float: right;
  width: 100%;
  margin: auto;
  display: block;
}


video{
  width: 90%;
  max-width: 700px;
  margin: auto;
  display: block;
  border-radius: 5px;
  border: 4px solid #f2f2f2;
}

/*===================
Blisst
====================*/
#blisst{
	height: 100vh;
}

  #blisst video{

  }



/*===================
Rainy Day Fund
====================*/

#rainy-day-fund h1{
	font-family: Titillium Web,sans-serif !important;
	color:#ffffff;
	font-weight: 700;
	background-color: #A9F5BC;
	opacity: .85;
}

#daily-gray h1 {
	color: #ffffff;
	font-family:'PT Sane', sans-serif !important;
	font-weight: 700;
	background-color: #585858;
	opacity: .85;
}




















































