<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>

<body>

<% include ../partials/header.ejs %>

<div class="container">
<div class="row">

<% include ../partials/sidebar.ejs %>

    <div id="content">
        <% include ../partials/landing.ejs %>
        <% include ../partials/projectMediaBiasMap.ejs %>
        <% include ../partials/projectRainyDayFund.ejs %>
        <% include ../partials/projectDailyGray.ejs %>
        <% include ../partials/projectBlisst.ejs %>

    </div><!-- content -->





</div><!--end-row -->
</div><!-- end container -->

</body>
</html>
