<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>

<body>

  <% include ../partials/header.ejs %>


<div id="main" class="container-fluid">
    <nav id="top-nav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid" id="my-text" >
        <h1> Hi, I'm Ryan. </h1>
      </div>
    </nav>


    <div id="intro" class="row">
      <!-- Mobile friendly menu -->
      <div id="menu" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row menu-row">
            <div id="menu-top-left" class="menu-item">
              <img class="menu-icon" src="email-icon.png"/>
              <p class="menu-label">Email</p>
            </div>

            <div id="menu-top-center" class="menu-item">
             <img class="menu-icon" src="twitter-icon.png"/>
              <p class="menu-label">Twitter</p>
            </div>

            <div id="menu-top-right" class="menu-item">
              <img class="menu-icon" src="github-icon.png"/>
              <p class="menu-label">GitHub</p>
            </div>
        </div>
        <div class=" row menu-row">
          <div id="menu-mid-left" class="menu-item">
            <img class="menu-icon" src="medium-icon.png"/>
            <p class="menu-label">Blog</p>
          </div>

          <div id="menu-mid-center" class="menu-item">
          <img class="menu-icon" src="resume-icon.png"/>
            <p class="menu-label">Resume</p>
          </div>

          <div id="menu-mid-right" class="menu-item">
             <img class="menu-icon" src="codepen-icon.png"/>
             <p class="menu-label">CodePen</p>
          </div>
        </div>

        <div id="menu-bottom-row" class=" row menu-row">
          <div id="menu-btm-left" class="menu-item">
            <img id="personal-photo" class="menu-icon" src="personal-photo.jpg"/>
            <p class="menu-label">About Me</p>
          </div>

          <div id="menu-btm-center" class="menu-item">
          <img class="menu-icon" src="portfolio-icon.png"/>
            <p class="menu-label">Portfolio</p>
          </div>

          <div id="menu-btm-right" class="menu-item">
            <img class="menu-icon" src="skills-icon.png"/>
            <p class="menu-label">Skills</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row" id="more-arrow-cont">
        <img id="more-arrow" src="expand-arrow.png"/>
        <a id="icons8" href="https://icons8.com/web-app/2848/Message-Filled">icons from icons8</a>
    </div>


    <div id="about-me" class="row">

    </div>


    <div class="row project">
        <div class="col-xs-12 project-img">Project</div>
        <div class="col-xs-12 project-text">Project</div>
    </div>

</div>

<% include ../partials/footer.ejs %>
</body>
</html>
